<div class="container my-3 slider-updown">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-sm-11 col-lg-8 bg-white rounded border shadow-sm">
            <h3 class="text-center font-weight-bold my-4">Web Service SOAP</h3>
            <hr>
            <p class="text-justify">
                Implementación web realizada para el ramo de Redes y Comunicación de Datos, con la
                finalidad de emplear un servicio web a travez del uso de un <strong>WEB SERVICE SOAP</strong> creada con JAVA
                como <a class="badge badge-primary">backend</a> y ASP.NET MVC como <a class="badge badge-danger">frontend</a>.
            </p>
            <p>
                Podrás ocupar 2 servicios, comprobar si el digito verificador ingresado es valido y obtener un saludo a
                partir del nombre y sexo ingresados.
            </p>
            <p>Integrantes:</p>
            <div class="d-flex justify-content-center">
                <ul class="list-group list-group-horizontal-md">
                    <li class="list-group-item py-1">Javier Saavedra</li>
                    <li class="list-group-item py-1">Esteban Moyano</li>
                    <li class="list-group-item py-1">Leonardo Peña</li>
                    <li class="list-group-item py-1">Nicolas Jimenez</li>
                </ul>
            </div>
            <p class="my-3 pt-2">
                * Puedes revisar el respositorio de este trabajo en <a class="badge bg-teal text-white" href="https://github.com/ja-sz97/webservices">web service</a>
            </p>
        </div>
    </div>
</div>
<br>